#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_MOUSE_CORNE_LEFT
    bool "mouse_corne left"
    depends on SOC_NRF52840_QIAA

config BOARD_MOUSE_CORNE_RIGHT
    bool "mouse_corne right"
    depends on SOC_NRF52840_QIAA
