manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
      # Additional modules containing boards/shields/custom code can be listed here as well.
      # See:
      # - https://zmk.dev/docs/features/modules
      # - https://docs.zephyrproject.org/3.5.0/develop/west/manifest.html#projects
  projects:
    - name: mouse_corne
      url: https://github.com/HiIAmTzeKean/zmk_corne_mouse
      revision: main
    - name: zmk
      remote: zmkfirmware
      revision: master
      import: app/west.yml
  self:
    path: config
